body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('raios.jpg'); 
background-size:cover;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

header img {
    width: 110px;
    height: 110px;
    margin-left: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

.button-container {
    display: flex;
    float: left;
    justify-content: space-around;
    align-items: center;
}

.btn-abra-sua-conta,
.btn-solicitar-cartao,
.btn-quero-investir,
.btn-consulta-saldo,
.btn-faca-seu-emprestimo {
    background-color: #000080; /* Cor de fundo azul */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-abra-sua-conta:hover,
.btn-solicitar-cartao:hover,
.btn-quero-investir:hover,
.btn-consulta-saldo:hover,
.btn-faca-seu-emprestimo:hover{
    background-color: #d1e000; 
}


.search-bar {
    background-color: #51a8ff; 
    padding: 10px;
    border-radius: 5px;
}


#search {
    border: none;
    background: transparent; 
    color: white; 
    width: 80%; 
}


.search-bar button {
    background: transparent; 
    border: none;
    color: rgb(207, 255, 32); 
    cursor: pointer;
}

